################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/PruebaABANK/PruebaABANK.API/bin/
/Backend/PruebaABANK/PruebaABANK.API/obj/

.vs/
*.user
*.suo
/Backend/PruebaABANK/PruebaABANK.BLL/bin/Debug/net8.0
/Backend/PruebaABANK/PruebaABANK.BLL/obj
/Backend/PruebaABANK/PruebaABANK.DAL/bin/Debug/net8.0
/Backend/PruebaABANK/PruebaABANK.DAL/obj
/Backend/PruebaABANK/PruebaABANK.BLL/PruebaABANK.BLL.csproj
