################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/PruebaABANK/PruebaABANK.API/bin/Debug/net8.0
